.threeholder {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  width: 1200px;
  color: black;
  height: 100vh;
}
.threeone {
  width: 50%;
  height: 600px;
  margin-left: 100px;
  background: #ffffff;
  border-bottom: 15px solid #000000;
  text-align: center;
  transition: all 0.25s;
  overflow-y: scroll;
}

.title {
  color: black !important;
  width: 100% !important;
  margin-left: 0px !important;
  margin-bottom: 20px !important;
  margin-top: 40px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.threeone:hover {
  background: rgb(0, 0, 0);
}

.threeone:hover .title {
  color: rgb(255, 255, 255) !important;
}
